body {
  background-color: silver;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.grid{
display: grid;
grid-template-rows: 1fr 1fr 1fr;


 }

 .nav{
   grid-row-start: 1;
   grid-row-end: 1;
   grid-column-start: 2;
   grid-column-end: 3;

 }

.form {
  grid-row-start: 2;
  grid-row-end: 2;
}
